.movie-container{
    border: solid white;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    align-content: center;
    flex-wrap:wrap;
    justify-content: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}

/* #topNav{
    background-color: wheat;
} */

#text{
    text-align: center;
}